
body {
    background-color:#007bff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h2{
    font-size: 3rem;

}
.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: black;
    height: 70px;
    border-radius: 5px;
}

.div1{
    display: flex;
    gap: 3rem;
}
input[type="date"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 1.5rem;
}
button {
    /* padding: 10px 10px; */
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    font-size: 1.2rem;
}

p{
    margin-top: 4rem;
    font-size: 2rem;
    color: white;
}
